@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
body{
    background-color: #000000!important;
}

video {
     width: 100%;  
}

nav.menuCor{
    background-color:#FFF504!important;
    height: 75px;
    width: 100%;
}
.imageLogo{
   padding-left: 30px;
   margin-top: 0%;
   
}
#logo{
    border-radius: 50%;
    position:relative;
}

#tituloPrincipal{
    position: absolute;
    width: 121px;
    height: 57px;
    left: 80px;
    top: 9px;
    padding-left: 50px;
    
    text-transform: uppercase;
    font-family: Quantico;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    
}


.botaoMenu{
 
    width: 125px;
    height: 40px;
    left: 470px;
    top: 18px;

    text-transform: uppercase;
    font-family: Quantico;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    align-items:center;
    text-align: center;
    color: #000000;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}
.quemSomos{
    text-transform: uppercase;
    height: 100px;
    left: calc(50% - 341px/2 - 8.5px);
    top: 785px;
    padding-top: 10%;
    padding-bottom: 10%;

    font-family:quantico;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 71px;
    text-align: center;
    color: #FFFFFF;

}
/*.espacoCarousel{
    margin: 3%;
}*/
p.sobreAcademia{
    font-size:12pt ;
    text-align: center;
    color: #FFFFFF;
}
button.navbar-toggler{
    border-color: black!important;
}
.listaMenu{
    margin-top: 6px;
    background-color:#FFF504;
    align-items: center;

}
#navbarSupportedContent{
    margin-left: -10%;
    margin-right: -10%;
}